* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.clearfix::after{
    content: "";
    display:table;
    clear:both;
}

.btn {
    padding: 12px 24px;
    color: white;
    background-color: #ff7a59;
    font-size: 14px;
    border-radius: 3px;
    border-color: white;
    cursor: pointer;
}

/* ---------------------------------------------------- */
/* NAVBAR FIXED */
.nav-fixed-maxwidth {
    background-color: #f5f8fa;
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    /* DA CANCELLARE */
    height: 74px;
}

.nav-fixed {
    max-width: 1200px;
    margin:0 auto;
    width: 75%;
    /* DA CANCELLARE */
    height: 74px;
}

.nav-fixed-left {
    float:left;
    /* DA CANCELLARE */
    height: 25px;
    width: 50px;
    background-color: red;
    z-index:1;

}

.nav-fixed-right {
    float:right;
    /* DA CANCELLARE */
    height: 25px;
    width: 50px;
    background-color: red;
    z-index:1;
}
/* ---------------------------------------------------- */
/* FINE NAVBAR FIXED */
/* ---------------------------------------------------- */
/* INIZIO NAV */
nav {
    max-width: 1200px;
    margin: 75px auto 0;
    width:75%;
    padding: 25px 0;
    vertical-align: center;
    line-height: 26px;
}

.nav-logo {
    float:left;
}

.nav-menu {
    float:right;
}

.nav-menu ul li {
    display: inline;
    padding: 25px;
}

.nav-menu a {
    color: black;
    font-weight: bold;
}

/* ---------------------------------------------------- */
/* FINE NAV */
/* ---------------------------------------------------- */
/* INIZIO BARRA BLU */
.barra-blu-maxwidth {
    background-color: #425b76;
}

.barra-blu {
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
    padding: 22px;
    line-height: 22px;
}

.barra-blu-testo {
    float: left;
    color: white;
    width: 80%;
    font-size: 16px;
}

.barra-blu-btn {
     float: right;
     margin-right: 15px;
}

#learn {
    background-color: white;
    padding: 12px 30px;
    border-radius: 2px;
    border: 1px solid white;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
/* ---------------------------------------------------- */
/* FINE BARRA BLU */
/* ---------------------------------------------------- */
/* INIZIO MAIN */
.main-maxwidth {
    background-color: #fff3ee;
    border-bottom: 3px solid #33475c;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    width: 75%;
    position: relative;
    /* DA CANCELLARE */
    height: 611px;
}

.main-bloccosx {
    max-width: 430px;
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
}

.main-bloccosx h1 {
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 27.5px;
    font-weight: 700;
}

.main-bloccosx p {
    line-height: 26px;
    margin-bottom: 16px;
}

#get-free {
    padding: 26px 48px;
    background-color: #ff7a59;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 24px;
    display: block;
}

.testo-small {
    font-size: 12px;
    line-height: 18px;
    max-width: 224px;
}
/* ---------------------------------------------------- */
/*INIZIO BARRA VERDE */
.barra-verde-maxwidth {
    background-color: #7edfd3;
    border-bottom: 3px solid #33475c;
    height: 78px;
}
/* ---------------------------------------------------- */
/* FINE BARRA VERDE */
/* ---------------------------------------------------- */
/* INIZIO SCHEDE */
.schede-maxwidth {
    background-color: #f5f8fa;
}
.schede {
    max-width: 1200px;
    margin: 0 auto;
    width: 70%;
    padding: 100px 0 50px;
    text-align: center;
}
.scheda-top {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 50px;
}

.scheda-top img {
    max-width: 260px;
}

.scheda-top h2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 36px;
    line-height: 42px;
}

.scheda-CRM {
    max-width: 960px;
    background-color: white;
    padding:32px;
    display: inline-block;
    text-align: left;
    margin-bottom: 32px;
}

.crm-img-btn{
    text-align: center;
    display: inline-block;
    padding: 0 80px;
}

.crm-img-btn img {
    height: 150px;
    display: block;
    padding-bottom: 20px;
}


.crm-testo {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    line-height: 26px;
}

.crm-testo h4 {
    font-size: 22px;
    margin: 11px 0;
    text-align: left;
    font-weight: bold;
}

.crm-testo p {
    margin: 14px 0;
    line-height: 22.75px;
    font-size: 14px;
    font-weight: 400;
}

#popular {
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    margin: 26px 0 15px 0;
    position: relative;
}

#popular::after {
    content: "";
    position:absolute;
    height: 5px;
    margin-left: 10px;
    border-bottom: 1px solid black;
    top: 6px;
    width: 100%;
}

.schede ul {
    list-style: none;
}

.crm-testo li {
    float: left;
    margin: 0 20px 5px 0;
}

.schede li::before {
    content: "";
    background-image: url(https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg);
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 10px;
}

.schede-hub {
    margin: 0 auto;
    width: 960px;
    text-align: center;
    text-align: justify;
}

.schede-allineate {
    max-width: 307px;
    background-color: white;
    display: inline-block;
    padding: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.prima, .seconda {
    margin-right: 15px;
}
.schede-allineate img {
    height: 150px;
}

.schede-allineate h4 {
    font-size: 22px;
    margin: 11px 0;
}

.schede-allineate h4 {
    font-size: 22px;
    margin: 11px 0;
}

.schede-allineate-testo {
    font-size: 14px;
    font-weight: 400;
    margin: 14px 0;
    text-align: justify;
}

.schede-allineate hr {
    margin: 26px 0 15px 0;
    font-weight: 400;
}

.schede-allineate-popular {
    margin: 15px 0;
    padding-top: 26px;
    font-weight: 700;
}

.lista-sx {
    text-align: left;
    margin-bottom: 10px;
}
/* ---------------------------------------------------- */
/* FINE SCHEDE */
/* ---------------------------------------------------- */
/*INIZIO BARRA ACQUAMARINA */
.barra-acqua-maxwidth {
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}


.barra-acqua {
    max-width: 1200px;
    margin: 0 auto;
    width: 75%;
    padding: 130px 0;
    text-align: center;
    color: white;
}

.marina-centro {
    max-width: 750px;
    margin: 0 auto;
}
.marina-centro h2 {
    font-size: 32px;
    line-height: 42px;
}

.marina-centro p {
    padding-top: 16px;
}

.marina-data {
    margin-top: 80px;
}

.griglia {
    width: 220px;
    max-width: 25%;
    display: inline-block;
    text-align: center;
    padding: 30px;
    border-right: 2px solid white;
}

.griglia-img {
    height: 40px;
    position:relative;
    margin-bottom: 15px;
}

.griglia-img img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    max-width: 150px;
    max-height: 100%;
    margin: auto;
}

.griglia h2 {
    position: relative;
    font-size: 40px;
    margin-bottom: 5px;
}

.griglia h2::after {
    content: "+";
    position: absolute;
    top:0;
    right:25px;
    display:inline-block;
    font-size: 16px;
    font-weight: 400;
}

.griglia p {
    font-size: 14.4px;
    line-height: 23.4px;
}

.griglia-top {
    border-bottom: 2px solid white;
}

.griglia:last-child {
    border-right: none;
}
/* ---------------------------------------------------- */
/*FINE BARRA ACQUAMARINA */
.scheda-bot {
    max-width: 1200px;
    margin: 0 auto;
    width: 75%;
    /* DA CANCELLARE */
    height: 662px;
}

.footer-maxwidth {
    background-color: #33475b;
}

footer {
    max-width: 1200px;
    margin: 0 auto;
    width: 75%;
    /* DA CANCELLARE */
    height: 658px;
}


a {
    text-decoration: none;
}
